.Logo{width: 100px;
    vertical-align: middle;}
    .toboolist{ display: inline; 
    vertical-align: middle;}
    .task{background-color: blue;
    color: white;}
    .section{color: gray;}
.blue{background-color: blue;
color: white;}