.Logo{width: 100px;
    vertical-align: middle;}
    .toboolist{ display: inline; 
    vertical-align: middle;}
    .task{background-color: blue;
    color: white;
text-align: center;}
    .section{color: gray;
    text-align: center}
.blue{background-color: blue;
color: white;}